[Desktop Entry]
Type=Application
Name=syndroid
Comment=Запуск Android при входе в сеанс (если autostart = true в /var/lib/syndroid/config.toml)
Exec=syndroid session
NoDisplay=true
